{{- $applynow         := .Site.Params.applynow }}
<section class="section section-light-grey is-medium" id="contact-us">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced"> {{ $applynow.title }} </h2>
      <h3 class="subtitle is-5 is-muted">{{ $applynow.subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column" >
            <div style="margin-left:auto;margin-right:auto;">
                <iframe src="{{ $applynow.googleFormEmbed }}" width="100%" height="914" frameborder="0" marginheight="0" marginwidth="0" >Loading…</iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>