{{- $contact         := .Site.Params.contact }}
<section class="section section-light-grey is-medium" id="contact-us">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced"> {{ $contact.title }} </h2>
      <h3 class="subtitle is-5 is-muted">{{ $contact.subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form id="contact-form" action="{{ .Site.Params.formspreeURL }}" method="POST">
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" name="Name" placeholder="Your name" required />
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" name="email" placeholder="Email address" required />
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="10" name="message" placeholder="What can we help you with?" required></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button type="submit" class="button cta is-large primary-btn raised is-clear">{{ .Site.Params.contact.buttontext }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>